---
layout: default
---
<div class="layout-large">
  <div class="about">
    <p class="section-label">Ready to join?</p>
    <p>Engineers, designers, data scientists and more &mdash; we need you.</p>
  </div>

  <div class="jobs">
    <ul class="unstyled clearfix" id="jobs-app">
      <p>Loading... :)</p>
    </ul>
  </div>

  <div class="hiring">
    <p class="section-label">Hiring for government?</p>
    <p>Reach an audience of top tech talent. We'll help you hone your posting and reach the right audience.</p>
    <a class="button" href="#">Submit a job opening</a>
  </div>
</div>

<!-- 
      <li class="job">
          <p class="job__skillset">Designer</p>
          <p class="job__title">Senior Front End Developer</p>
          <p class="job__department">Department of Technology</p>
          <p class="job__organization">City and County of San Francisco (San Francisco, Calif.)</p>
          <p class="job__summary">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa um sociis nat.</p>
          <p class="job__link"><a href="#" class="button-bold">Learn More</a></p>
      </li>
-->

<script type="x/template" id="js-jobs-template">
  <% _.each(jobs, function(job){ %>
    <li class="job" id="<%= job.unique_id %>">
        <p class="job__skillset job__skillset--<%= job.job_skillset.toLowerCase().replace(' ','-') %>"><%= job.job_skillset %></p>
        <p class="job__title"><%= job.job_title %></p>
        <p class="job__department"><%= job.job_department %></p>
        <p class="job__organization"><%= job.job_organization %> (<%= job.job_city %>, <%= job.job_state %>)</p>
        <p class="job__summary"><%= job.job_summary %></p>
        <p class="job__link"><a href="{{ site.baseurl }}/job?id=<%= job.unique_id %>" class="button-bold">Learn More</a></p>
    </li>
  <% }); %>
</script>

<script>
  $(document).ready(function(){
    app.init('all_jobs', function(data,template,err){
      if (err) { throw err; }
      var template = $('#js-template-all_jobs').html();
    });
  });
</script>