<div class="footer layout-large">
  <div class="footer__logo"><a href="http://codeforamerica.org" target="_blank"><img src="{{ site.baseurl }}/img/cfa_logo.png" alt=""></a></div>
  <p>A <a href="http://codeforamerica.org" target="_blank">Code for America</a> project. Questions? Reach out to us at <a href="mailto:work@codeforamerica.org">work@codeforamerica.org</a>.</p>
</div>

<!-- Scripts -->
<script src="{{ site.baseurl }}/js/vendor/jquery-1.11.3.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/lodash.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/tabletop.js"></script>
<script src="{{ site.baseurl }}/js/application.js"></script>