<div class="header layout-large">
  <div class="header__logo">
    <p class="header__logo__brand">Work for America</p>
    <p class="header__logo__tagline">There's never been a better time to work for government.</p>
  </div>
  <ul class="header__nav unstyled">
    <li class="header__nav__item"><p><a href="{{ site.baseurl }}/">All Jobs</a></p></li>
    <li class="header__nav__item"><p><a href="{{ site.baseurl }}/submit/">Submit a Job</a></p></li>
    <li class="header__nav__item"><p><a href="{{ site.baseurl }}/about/">About</a></p></li>
  </ul>
</div>