<div class="header layout-large">
  <ul class="header__nav unstyled">
    <li class="header__nav__item"><p><a href="{{ site.baseurl }}/">All Jobs</a></p></li>
    <li class="header__nav__item"><p><a href="{{ site.baseurl }}/submit/">Submit a Job</a></p></li>
    <li class="header__nav__item"><p><a href="{{ site.baseurl }}/about/">About</a></p></li>
  </ul>
  <div class="header__logo">
    <p class="header__logo__brand"><a href="{{ site.baseurl }}/">Work for America</a></p>
    <p class="header__logo__tagline">Find a job in government. Serve your neighbors and your country.</p>
  </div>
</div>