<script type="x/template" id="js-template-jobs_all">
  <% /* Expects array of jobs */ %>
  <% _.each(data, function(job){ %>
  <li class="job" id="<%= job.unique_id %>">
    <p class="job__skillset job__skillset--<%= job.job_skillset.toLowerCase().replace(' ','-') %>"><%= job.job_skillset %></p>
    <p class="job__title"><%= job.job_title %></p>
    <p class="job__department"><%= job.job_department %></p>
    <p class="job__organization"><%= job.job_organization %> (<%= job.job_city %>, <%= job.job_state %>)</p>
    <p class="job__summary"><%= job.job_summary %></p>
    <p class="job__link"><a href="{{ site.baseurl }}/job?id=<%= job.unique_id %>" class="button-bold">Learn More</a></p>
  </li>
  <% }); %>
</script>

<script type="x/template" id="js-template-jobs_single">
  <% /* Expects single job object */ %>
</script>