/* @override http://workforamerica.local/stylesheets/styles.css */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body{
	font-family: proxima-nova;
}

div.site-width{
	width: 90%;
	max-width: 50rem;
	margin: 0 auto;
}

header[role="masthead"]{
	background: white;
	padding: 0.5rem 0;
	color: white;
	margin-bottom: 2rem;
	font-size: 1.25rem;
}

/* @group header */

header[role="masthead"] div.site-width{
	position: relative;
}


header[role="masthead"] a{
	color: white;
	font-weight: 600;
	text-decoration: none;
	margin-right: 1em;
	display: inline-block;
	vertical-align: middle;
}


header[role="masthead"] a.civic-startups{ color: #fd796b; }
header[role="masthead"] a.governments{ color: #ddab00; }
header[role="masthead"] a.suggest-a-job{ color: #2db282; }
header[role="masthead"] a.suggest-a-job{ color: #4edba7; }

header[role="masthead"] a.civic-startups:hover{ color: #d73c3c; }
header[role="masthead"] a.governments:hover{ color: #a27d00; }
header[role="masthead"] a.suggest-a-job:hover{ color: #188d7b; }
header[role="masthead"] a.suggest-a-job:hover{ color: #188d7b; }


header[role="masthead"] a:hover{
	text-decoration: none;
}



/* @end */

/* @group body.home */

body.home {
	background: #334e62;
	color: #cde2f1;
}

body.home main{
	text-align: center;	
}


body.home main a{
	text-decoration: none;
	border-bottom: 1px solid;
	padding-bottom: 0;
	line-height: 1;
	display: inline-block;
	vertical-align: text-bottom;
	color: inherit;
}

body.home main a:hover{
	color: white;
}

body.home main h1{
	color: white;
	font-size: 2.5rem;
	margin-bottom: 0.75rem;
}

body.home main p{
	font-size: 1.25rem;
	line-height: 1.4em;
	margin-bottom: 2rem;
}



/* @end */

article.job-listing{
	background: #85fbcf;

	color: #2b7f5f;
	padding: 0.8rem 1rem;
	font-size: 1.125rem;
	font-weight: 600;
	text-align: left;
	width: 80%;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	border: 0.3rem solid #FFF;
	margin-bottom: 1rem;
	position: relative;
}


article.job-listing dl,
article.job-listing dl dt,
article.job-listing dl dd{
	display: inline-block;
	white-space: nowrap;
	/* overflow: hidden; */
	text-overflow: ellipsis;
}

article.job-listing dl dt{
	display: none;
}

article.job-listing dl dd.job-listing-company{
	width: 25%;
}

article.job-listing dl dd.job-listing-title{
	width: 60%;
}

article.job-listing dl dd.job-listing-location{
}

article.job-listing dl dd.job-listing-type{
	text-indent: -999rem;
	width: 1rem;
	height: 1rem;
	background: #fc4431;
	-moz-border-radius: 100%;
	border-radius: 100%;
	position: absolute;
	right: 1rem;
	top: 50%;
	margin-top: -0.6rem;
}

article.job-listing dl dd.job-listing-type.job-listing-type-government{
	background: #fcb830;
}

