/* @override http://workforamerica.local/stylesheets/styles.css */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body{
	font-family: proxima-nova;
}

div.site-width{
	width: 90%;
	margin: 0 auto;
}

header[role="masthead"]{
	background: black;
	padding: 1rem 0;
	color: white;
	margin-bottom: 2rem;
	font-size: 1.25rem;
}

header[role="masthead"] a{
	color: white;
	font-weight: 600;
	text-decoration: none;
	margin-right: 1em;
}

header[role="masthead"] a.civic-startups{ color: #fd796b; }
header[role="masthead"] a.governments{ color: #fdec34; }
header[role="masthead"] a.suggest-a-job{ color: #2db282; }

header[role="masthead"] a.civic-startups:hover{ color: #d73c3c; }
header[role="masthead"] a.governments:hover{ color: #ddab00; }
header[role="masthead"] a.suggest-a-job:hover{ color: #188d7b; }


header[role="masthead"] a:hover{
	text-decoration: none;
}


body.home {
	background: #334e62;
	color: #cde2f1;
}

body.home main{
	text-align: center;	
}

.home main h1{
	font-size: 3rem;
}

article.job-listing{
	background: yellow;
}

article.job-listing h1{
	font-size: 1rem;
}

article.job-listing dl,
article.job-listing dl dt,
article.job-listing dl dd{
	display: inline;
}